body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: #f4f7f9;
}

.page-header.index {
  margin-bottom: 59px;
}

.page-header.inner {
  margin-bottom: 24px;
}

.header-top {
  margin-bottom: 49px;

  color: #ffffff;

  background-color: #293449;
}

.header-top > .container {
  display: flex;
  justify-content: space-between;
}

.page-logo img {
  background-color: #ee3643;
  box-shadow: 0 5px 0 #b52933;
}

.page-logo .header-img {
  padding: 14px 56px 11px 55px;
}

.page-logo .header-img:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 #9a212a;
}

.page-logo .header-img:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 #8e1e26;
}

.search .search-field {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.search .search-field::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: transparent;
}

.search .search-field:hover {
  color: #000000;

  background-color: #212a3a;
}

.search .search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.search .search-field:active {
  color: #000000;

  background-color: #ffffff;
}

.header-top .bookmarks,
.header-top .card,
.header-top .make-order {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.header-top .make-order {
  background-color: #63a63e;
}

.header-top .bookmarks:hover,
.header-top .card:hover {
  background-color: #212a3a;
}

.header-top .make-order:hover {
  background-color: #5fbb2d;
}

.header-top .bookmarks:active,
.header-top .card:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-top .make-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;;
}

.header-top .not-empty {
  background-color: #ee3643;
}

.header-top .not-empty:hover {
  background-color: #ca2c37;
}

.header-top .not-empty:active {
  background-color: #ba2732;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.header-bottom .shop-description {
  width: 300px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #e9292a;
}

.header-bottom .header-address {
  width: 300px;
}

.header-address .number {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  text-decoration: none;
}
.header-address .address {
  font-size: 14px;
  color: #32425c;
}

.header-bottom .personal-area {
  width: 300px;
}

.personal-area .index-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.personal-area .index-button:hover {
  color: #ee3643;
}

.personal-area .index-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-area .user-profile {
  font-size: 21px;
  line-height: 21px;

  background-color: #ffffff;
}

.user-profile a {
  color: #000000;
  text-decoration: none;
}

.user-profile a:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-menu li {
  color: #32425c;
}

.personal-menu li:first-child {
  list-style: none;
}

.personal-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.personal-menu a:hover {
  color: #ee3643;
}

.personal-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.page-header-nav {
  margin-bottom: 65px;
}

.header-main-menu {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 5px 0 #293449;
}

.header-main-menu a {
  color: #ffffff;
  text-decoration: none;
}

.header-main-menu a:hover {
  background-color: #293449;
}

.header-main-menu a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
  box-shadow: 0 5px 0 #1d2739;
}

.page-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}


.page-part h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.page-part p {
  font-family: "PT Sans", Arial, san-serif;
}

.page-part .about-company {
  width: 540px;
}

.about-company ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.about-company li:before {
  content: "";

  padding-left: 36px;

  background: url("../img/red-line.svg") no-repeat 0 50%;
}

.page-part .contacts {
  width: 300px;
}


.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.page-main {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  list-style: none;
  line-height: 18px;
  font-family: "PT Sans", Arial, san-serif;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.block-title {
  margin-bottom: 20px;

  background-color: #f2f6f8;
}

.title-item {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter ul {
  list-style: none;
}

.filter fieldset {
  background-color: #ffffff;
  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.filter .power {
  letter-spacing: 0.04em;
}

.filter li {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.button.filter-btn {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, san-serif;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.button.filter-btn:hover {
  background-color: #ffffff;
  border: 1px solid #bdc6ca;
}

.button.filter-btn:active {
  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.catalog {
  width: 700px;
  margin-bottom: 32px;
}


.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  list-style: none;
}

.catalog-list .catalog-item {
  width: 217px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-list .catalog-item:hover {
  border-color: transparent;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-item del {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}

.price ins {
  text-decoration: none;
}

.catalog-item .price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;

  background-color: #ee3643;
}

.catalog-item .button.buy {
  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #367315;
}

.catalog-item .button.buy:hover {
  background-color: #5fbb2d;
}

.catalog-item .button.buy:active {
  background-color: #518534;
  box-shadow: none;
}

.catalog-item .button.bookmarks {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item .button.bookmarks:hover {
  border-color: #32425c;
}

.catalog-item .button.bookmarks:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.about-perforator {
  width: 100%;
  padding-top: 40px;

  background-color: #f2f6f8;
}

.about-perforator h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-perforator p {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
}

.page-footer {
  font-size: 18px;
  color: #ffffff;

  background-color: #32425c;
}

.page-footer > .container {
  display: flex;
  justify-content: space-between;
}

.page-footer .footer-left {
  width: 380px;
}

.page-footer .footer-right {
  width: 550px;
}

.page-logo .footer-img {
  padding: 21px 42px;
}

.footer-address .number {
  color: #ffffff;
  text-decoration: none;
}

.footer-right .footer-main-menu,
.footer-right .footer-catalog-menu {

  list-style: none;
}

.footer-main-menu a {
  color: #ffffff;
  text-decoration: none;
}

.footer-catalog-menu a {
  color: #ffd180;
  text-decoration: none;
}

.footer-main-menu a:hover,
.footer-catalog-menu a:hover {
  text-decoration: underline;
}

.footer-main-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-catalog-menu a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-bottom ul {
  list-style: none;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
  text-decoration: none;
}

.footer-feedback a:hover,
.footer-developed a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developed a:active {
  color: #ee3643;
}

.modal {
  display: none;
}



/* Временная подсветка */
/*  
body > * {
  outline: 1px solid red; 
}

body > * > *  {
  outline: 1px solid green;
}

body > * > * > * {
  outline: 1px solid violet;
}  */
